
#projectmanager-tree_target {
	min-height: 35px;
	max-height: 450px;
	display: block;
	display: -moz-inline-stack;
	display: -moz-box;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.planned { font-style: italic; font-size: 95%; }
#projectmanager-elements-list_link_to {position:relative;width:auto;}
#projectmanager-elements-list .nextmatch_header .nm_header {
	border: 2px solid black;
}
.projectmanager_leftPad5 { padding-left: 5px; }
tr.projectmanager_rowHasSubs > td:first-child {
	background-image: url(../../../phpgwapi/templates/default/images/egw_action/arrow_left.png);
	background-repeat: no-repeat;
	background-position: 0px 11px;
}
tr.projectmanager_rowHasParent > td:first-child {
	background-image: url(../../../phpgwapi/templates/default/images/egw_action/arrow_up.png);
	background-repeat: no-repeat;
	background-position: 0px 11px;
}
#projectmanager-elements-list .nextmatch_header .et2_link_add_span {display: none;}
/* Element list hidden eroles */
table.egwLinkMoreOptions {
	display: none;
	position: absolute;
	right: 0;
	width: 240px;
	opacity: 0.9;
	z-index: 999;
	background-color: white;
	border: 2px solid black !important;
	border-top: none !important;
}

/* Highlight the current entry in the constraint list */
#projectmanager-elements-edit_projectmanager-elements-edit-constraints .source [id*="pe_id_start"],
#projectmanager-elements-edit_projectmanager-elements-edit-constraints .target [id*="pe_id_end"]{
	font-weight: bold;
}
#projectmanager-elements-list_add_existing_popup {display:none;}

#projectmanager-edit_projectmanager-edit-general .et2_date_duration.et2_fullWidth input {
	width: 10em;
}

#projectmanager-edit_projectmanager-edit-general .et2_date_duration.et2_fullWidth select {
	width: 60%;
}