/* $Id$ */



/*Media print classes*/
@media print{
	/* Gantt chart - extend vertically (browsers truncate horizontal overflow) */
	.et2_gantt .gantt_container {
		overflow: visible;
		position: absolute;
		border: none;
	}
	.et2_gantt {
		position: static;
		height: auto !important;
	}
	.et2_gantt .gantt_grid, .gantt_grid_data {
		height: auto !important;
	}
	.et2_gantt .gantt_task, .gantt_data_area {
		height: auto !important;
		overflow: visible;
	}
	.gantt_hor_scroll, .gantt_ver_scroll {
		display: none !important;
	}
	#projectmanager-gantt button {
		display: none;
	}
}

/**
 * Let button in link_add look like regular [+] / add button, with app behind
 */
button#projectmanager-elements-list_link_add_add {
	width: 24px;
	text-indent: 100px;
	overflow: hidden;
	padding: 0;
	background-position: 3px;
	float: left;
}
button#projectmanager-elements-list_link_add_add:hover {
	background-size: 16px 16px;
}

#projectmanager-tree_target {
	min-height: 35px;
	display: block;
	display: -moz-inline-stack;
	display: -moz-box;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

#projectmanager-list .et2_nextmatch .egwGridView_outer tr > td:first-child > div.innerContainer
{
	padding-left: 14px;
	margin-right:-13px;
}

#projectmanager-list .et2_nextmatch .egwGridView_outer tr.subentry > td:first-child > div.innerContainer.level_1
{
	margin-right:-24px;
}
#projectmanager-list .et2_nextmatch .egwGridView_outer tr.subentry > td:first-child > div.innerContainer.level_2
{
	margin-right:-35px;
}
#projectmanager-list .et2_nextmatch .egwGridView_outer tr.subentry > td:first-child > div.innerContainer.level_3
{
	margin-right:-46px;
}


.planned { font-style: italic; font-size: 95%; }
#projectmanager-elements-list_link_to {position:relative;width:auto;}
#projectmanager-elements-list .nextmatch_header .nm_header {
	border: 2px solid black;
}
.projectmanager_leftPad5 { padding-left: 5px; }
tr.projectmanager_rowHasSubs > td:first-child {
	background-image: url(../../../phpgwapi/templates/default/images/egw_action/arrow_left.png);
	background-repeat: no-repeat;
	background-position: 0px 11px;
}
tr.projectmanager_rowHasParent > td:first-child {
	background-image: url(../../../phpgwapi/templates/default/images/egw_action/arrow_up.png);
	background-repeat: no-repeat;
	background-position: 0px 11px;
}
#projectmanager-elements-list .nextmatch_header .et2_link_add_span {display: none;}
/* Element list hidden eroles */
table.egwLinkMoreOptions {
	display: none;
	position: absolute;
	right: 0;
	width: 240px;
	opacity: 0.9;
	z-index: 999;
	background-color: white;
	border: 2px solid black !important;
	border-top: none !important;
}

/* Highlight the current entry in the constraint list */
#projectmanager-elements-edit_projectmanager-elements-edit-constraints .source [id*="pe_id_start"],
#projectmanager-elements-edit_projectmanager-elements-edit-constraints .target [id*="pe_id_end"]{
	font-weight: bold;
}
#projectmanager-elements-list_add_existing_popup {display:none;}

#projectmanager-edit_projectmanager-edit-general .et2_date_duration.et2_fullWidth input {
	width: 10em;
}

#projectmanager-edit_projectmanager-edit-general .et2_date_duration.et2_fullWidth select {
	width: 60%;
}

td.projectTimestamp {
	position: relative;
}
#projectmanager-edit_timestamp {
	position: absolute;
	top: 15px;
	right: 0px;
}

.et2_gantt .gantt_cell .gantt_column_pe_resources:hover {
	overflow: visible;
	z-index: 10;
	position: absolute;
	white-space: normal;
	background: white;
	border: 1px solid #cecece;
	height: auto;
	width: 150px;
	padding: 0.5ex;
}

.et2_gantt .gantt_cell .gantt_column_pe_resources:hover li {
	display: block;
}
