.ganttContent {
	margin: 0px;
}
.dhtmlx_message_area {
	display: none;
	visibility: hidden;
}


.et2_gantt, .et2_gantt .gantt_container
{
	width: 100%;
	min-height: 300px;
	overflow: hidden;
}
.et2_gantt .gantt_tree_icon
{
	background-size: 18px;
}
.et2_gantt .gantt_side_content
{
	overflow: visible;
}
/* Style the gantt grid (left side) allowing 2 lines */
.et2_gantt .gantt_grid_scale :not(.gantt_grid_head_add) {
	white-space: normal;
	line-height: 16px;
	height: auto;
	vertical-align: middle;
}
/* Column selector */
.et2_gantt .gantt_grid_scale .gantt_grid_head_add {
	background-image: url(../../../api/templates/default/images/selectcols.svg);
	background-size: 10px 10px;
	padding: 0px;
	margin: 0px;
}
.et2_gantt .gantt_grid_data .gantt_add {
	display: none;
	padding: 0px;
	margin: 0px;
}
/* Display inline, since there's only 1 line*/
.et2_gantt .gantt_grid_data li {
	display: inline-block;
	padding-right: 0.5ex;
}
.et2_gantt .gantt_task_progress
{
	text-align: left;
	color: white;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}
.et2_gantt .gantt_task_progress > span
{
	font-weight: bold;
	margin: 0 1ex;
}
.et2_gantt .weekend
{
	background-color: #f4f7f4;
}
.et2_gantt .gantt_selected .weekend
{
	background-color: #f7eb91;
}
.et2_gantt .gantt_task_link.invalid_constraint .gantt_line_wrapper div
{
	background-color: red;
}
.et2_gantt .gantt_task_link.invalid_constraint .gantt_link_arrow_left
{
	border-right-color: red;
}
.et2_gantt .gantt_task_link.invalid_constraint .gantt_link_arrow_right
{
	border-left-color: red;
}
.et2_gantt .gantt_task_planned
{
	height: 10px;
	position: absolute;
	opacity: 0.3;
	border-style: outset;
	border-width: 2px;
	border-top: none;
	border-bottom: none;
	width: 2px;
}
.et2_gantt .gantt_task_planned:hover span {
	display:inline;
}
.et2_gantt .gantt_task_planned span
{
	z-index: 10;
	display: none;
	background: white;
	position: relative;
	top: 1em;
}
.et2_gantt .gantt_left .gantt_task_planned
{
	border-right: none;
}
.et2_gantt .gantt_right .gantt_task_planned
{
	border-left: none;
	top: 25px;
}

.gantt_task_line.milestone {
	width: 25px !important;
	background: none;
	border: none;
}

.gantt_task_line.milestone .gantt_task_content {
    background: inherit;
	background-color: #ffc200;
    border-color: #bf9d30;
    border: inherit;
    border-width: 1px;
    border-radius: inherit;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.gantt_task_line.milestone .gantt_task_progress_drag {
	visibility: hidden;
}
.gantt_task_line.milestone .gantt_task_progress_wrapper {
	display: none;
}
